<div class="container">
  <h1 class="h1 heading"> TD PRM2 - Fingerprint</h1>


  <div class="card">
    <div class="card-header">
      <div class="d-flex justify-content-between">
        <span>Your browser fingerprint: <strong>{{ fingerprint }}</strong></span>
        <span>Time took to calculate the fingerprint: <var>{{ time }}</var> ms</span>
      </div>
    </div>
    <div class="card-body">
      <div class="card-text overflow-auto">
        <table class="table">
          <thead>
          <tr>
            <th scope="col">Data</th>
            <th scope="col">Value</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let line of this.components">
            <th scope="row">{{ line.key }}</th>
            <td>{{ line.value }}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
