<div class="container">
  <p>Analyse</p>
  <p>Analyse OS</p>
  <app-pie [series]="(systems$ | async)[1]" [labels]="(systems$ | async)[0]"></app-pie>

  <p>Analyse Fuseau horaire</p>
  <app-pie [series]="(timezones$ | async)[1]" [labels]="(timezones$ | async)[0]"></app-pie>

  <p>Analyse Resolutions</p>
  <app-pie [series]="(screenResolutions$ | async)[1]" [labels]="(screenResolutions$ | async)[0]"></app-pie>

  <p>Analyse taille de la mémoire RAM (en Go)</p>
  <app-pie [series]="(memories$ | async)[1]" [labels]="(memories$ | async)[0]"></app-pie>

  <p>Analyse Nombre de Coeurs du processeurs</p>
  <app-pie [series]="(cores$ | async)[1]" [labels]="(cores$ | async)[0]"></app-pie>

  <p>Analyse Langage</p>
  <app-pie [series]="(languages$ | async)[1]" [labels]="(languages$ | async)[0]"></app-pie>

  <p>Analyse Navigateurs Utilisés</p>
  <app-pie [series]="(browser$ | async)[1]" [labels]="(browser$ | async)[0]"></app-pie>

  <p>Analyse Connexion</p>
  <app-pie [series]="(monthlyConnections$ | async)[1]" [labels]="(monthlyConnections$ | async)[0]"></app-pie>

  <p>Analyse liste Dernière Connexion</p>
  <ul>
    <li *ngFor="let conn of lastConnections$ | async">
      {{ conn._id }}
    </li>
  </ul>

  <p>Analyse liste Graphique</p>
  <ul>
    <li *ngFor="let card of graphicCards$ | async">
      {{ card }}
    </li>
  </ul>

  <p>Analyse Evolutions</p>
  <app-line [data]="dataEvolution" [axes]="axesEvolution" [labels]="labelsEvolution" [title]="titreEvolution"></app-line>
</div>
