<div class="container my-5">
  <h2>Nos Analyses</h2>

  <div class="row mb-4">
    <div class="w-100">
      <div class="card">
        <div class="card-header">Utilisateurs</div>
        <div class="card-body">
          <table class="table w-100">
            <thead>
            <tr>
              <th>Browser Fingerprint</th>
              <th class="text-right">Total Connection</th>
              <th>Last connection</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let finger of lastConnections$ | async">
              <th>{{ finger._id }}</th>
              <td class="text-right">{{ finger.count }}</td>
              <td>{{ finger.updatedAt }}</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div class="row row-cols-1 row-cols-md-2">
    <div class="col-6 mb-4">
      <app-card [title]="'Systèmes d\'exploitation'" [data]="systems$ | async"></app-card>
    </div>
    <div class="col-6 mb-4">
      <app-card [title]="'Navigateurs'" [data]="browser$ | async"></app-card>
    </div>
    <div class="col-6 mb-4">
      <app-card [title]="'Fuseaux Horaires'" [data]="timezones$ | async"></app-card>
    </div>
    <div class="col-6 mb-4">
      <app-card [title]="'Resolutions Ecran'" [data]="screenResolutions$ | async"></app-card>
    </div>
    <div class="col-6 mb-4">
      <app-card [title]="'Taille mémoire RAM (en Go)'" [data]="memories$ | async"></app-card>
    </div>
    <div class="col-6 mb-4">
      <app-card [title]="'Nbre Coeur Processeur'" [data]="cores$ | async"></app-card>
    </div>
    <div class="col-6 mb-4">
      <app-card [title]="'Langues'" [data]="languages$ | async"></app-card>
    </div>
    <div class="col-6 mb-4">
      <app-card [title]="'Connexions Mensuelles'" [data]="monthlyConnections$ | async"></app-card>
    </div>
    <div class="col-6 mb-4">
      <p>Cartes Graphiques</p>
      <ul>
        <li *ngFor="let card of graphicCards$ | async">
          {{ card }}
        </li>
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="w-100">
      <div class="card">
        <div class="card-header">Evolution des connexions</div>
        <div class="card-img-top">
          <app-line [data]="(monthlyConnections$ | async)[1]" [axes]="(monthlyConnections$ | async)[0]" [labels]="labelsEvolution" [title]="titreEvolution"></app-line>
        </div>
      </div>
    </div>
  </div>
</div>
